<div ng-view="" class="ng-scope">
    <div ng-app="components" class="ng-scope">
        <div class="tabbable ng-isolate-scope">
            <ul class="nav nav-tabs">
                <!-- ngRepeat: pane in panes -->
                <li ng-repeat="pane in panes" ng-class="{active:pane.selected}" class="ng-scope"><a href="" ng-click="select(pane)" class="ng-binding">Localization</a></li>
                <!-- end ngRepeat: pane in panes -->
                <li ng-repeat="pane in panes" ng-class="{active:pane.selected}" class="ng-scope active"><a href="" ng-click="select(pane)" class="ng-binding">Pluralization</a></li>
                <!-- end ngRepeat: pane in panes -->
            </ul>
            <div class="tab-content" ng-transclude="">
                <div class="tab-pane ng-scope ng-isolate-scope" ng-class="{active: selected}" ng-transclude="" title="Localization">
                    <span class="ng-binding ng-scope">Date: Sunday, April 1, 2012</span><br class="ng-scope">
                    <span class="ng-binding ng-scope">Currency: $123,456.00</span><br class="ng-scope">
                    <span class="ng-binding ng-scope">Number: 98,765.432</span><br class="ng-scope">
                </div>
                <div class="tab-pane ng-scope ng-isolate-scope active" ng-class="{active: selected}" ng-transclude="" title="Pluralization">
                    <div ng-controller="ComponentsCtrl" class="ng-scope">
                        <!-- ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">no beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">1 beer</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">2 beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">3 beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">4 beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">5 beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers --><div ng-repeat="beerCount in beers" class="ng-scope">
                        <ng-pluralize count="beerCount" when="beerForms">6 beers</ng-pluralize>
                    </div><!-- end ngRepeat: beerCount in beers -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>